<p id="notice"><%= notice %></p>

<h1>Posts</h1>
<% @posts.each do |post| %>
     
  
  <p> <%= post.content %></p>
  <button><%= link_to 'New', new_post_path %></button>
  <button> <%= link_to 'Show', post %></button>
  <button><%= link_to 'Edit', edit_post_path(post) %></button>
  <button><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></button>
  <br>
<% end %>


<br>

<%= link_to 'New Post', new_post_path %>
